@tailwind base;
@tailwind components;
@tailwind utilities;

/* I don't like the scrollbars to appear so this is from dev.to
Simply add no-scrollbar to the className list
*/
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* To create global classes with tailwind we can do the following which we use by using the in the old school way - This should be the exeption and not the rule otherwise we may as well stick to the standard way*/
@layer components {
  .input {
    @apply rounded-lg bg-amber-200 px-2 py-1 text-amber-900 transition-all duration-300 focus:outline-none focus:ring-2 focus:ring-amber-900;
  }
}

/* https://dev.to/afif/i-made-100-css-loaders-for-your-next-project-4eje */
.loader {
  display: inline-block;
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(#333 0 0);
  background:
    var(--c) 0% 50%,
    var(--c) 50% 50%,
    var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: loading 1s infinite linear;
}

@keyframes loading {
  20% {
    background-position:
      0% 0%,
      50% 50%,
      100% 50%;
  }
  40% {
    background-position:
      0% 100%,
      50% 0%,
      100% 50%;
  }
  60% {
    background-position:
      0% 50%,
      50% 100%,
      100% 0%;
  }
  80% {
    background-position:
      0% 50%,
      50% 50%,
      100% 100%;
  }
}
